body{
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.head a{
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.foot a{
  color: white;
  font-size: 13px;
  font-weight: bold;
}

.head{
  background: url("../images/building.jpg") no-repeat center;
  background-size: cover;
  color: white;
  width: 100%;
  font-weight: bold;
}

.design{
  background: url("../images/building.jpg") no-repeat center;
  color: white;
  font-weight: bold;
}

.paragraph{
  font-size: 14px;
}

.header{
  font-size: 23px;
  font-weight: bold;
}

.foot{
  background-color: gray;
  color: white;
  font-size: 11px;
  text-align: left;
}

#title{
  font-size: 70px;
}

#process{
  font-size: 32px;
}
