body{
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.head{
  background: url("../images/building.jpg") no-repeat center;
  background-size: cover;
  color: white;
  width: 100%;
  font-weight: bold;
}

a{
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.header{
  font-size: 23px;
  font-weight: bold;
}

#title{
  font-size: 70px;
}

#process{
  font-size: 32px;
}

#identify{
  font-size: 23px;
}
